SalesPartyService-Proxy/src/com/oracle/xmlns/apps/crmcommon/salesparties/salespartiesservice/O_INT_JDE_Match_c.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/"
     sdoJava:package="sessiondef.extensibility.app.crmCommon.views.common" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:documentation xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <name>JDE Match</name>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"
         xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
    <xsd:complexType name="O_INT_JDE_Match_c" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:annotation xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>Id</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element minOccurs="0" name="Id" type="xsd:decimal" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="RecordName" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber" nillable="true" type="xsd:decimal" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="OrganizationProfile_Id_c" nillable="true" type="xsd:decimal"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CpdrfVerSor" nillable="true" type="xsd:int" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="UserLastUpdateDate" nillable="true" type="ns0:dateTime-Timestamp"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CpdrfLastUpd" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CpdrfVerPillar" nillable="true" type="xsd:int" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="JobDefinitionPackage" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="JobDefinitionName" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CurrencyCode" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CurcyConvRateType" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CorpCurrencyCode" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="IsOwner" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="Address1_c" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="City_c" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="State_c" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="Province_c" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="PostalCode_c" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="Country_c" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="Selected_c" type="xsd:boolean" sdoXML:dataType="sdoJava:BooleanObject"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="PartyName_c" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="PartyID_c" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="PartyType_c" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="IndustryClassification_c" nillable="true" type="xsd:string"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="PrimaryPhoneAreaCode_c" nillable="true" type="xsd:string"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="PrimaryPhoneNumber_c" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="PrimaryEmail_c" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="o_INT_JDE_Match_c" type="O_INT_JDE_Match_c" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
</xsd:schema>
