SalesPartyService-Proxy/src/com/oracle/xmlns/apps/crmcommon/salesparties/salespartiesservice/SWOTAnalysis_c.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/"
     sdoJava:package="sessiondef.extensibility.app.crmCommon.views.common" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:documentation xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <name>SWOT Analysis</name>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"
         xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
    <xsd:complexType name="SWOTAnalysis_c" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:annotation xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>Id</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element minOccurs="0" name="Id" type="xsd:decimal" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="RecordName" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CreatedBy" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CreationDate" nillable="true" type="ns0:dateTime-Timestamp"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="LastUpdatedBy" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="LastUpdateDate" nillable="true" type="ns0:dateTime-Timestamp"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber" nillable="true" type="xsd:decimal" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="OrganizationProfile_Id_c" nillable="true" type="xsd:decimal"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CpdrfVerSor" nillable="true" type="xsd:int" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="ConflictId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="UserLastUpdateDate" nillable="true" type="ns0:dateTime-Timestamp"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CpdrfLastUpd" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CpdrfVerPillar" nillable="true" type="xsd:int" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="JobDefinitionPackage" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="JobDefinitionName" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CurrencyCode" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CurcyConvRateType" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CorpCurrencyCode" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="IsOwner" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="EntryType_c" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="EntryType_cMeaning" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="SWOTEntry_c" nillable="true" type="ns0:base64Binary-DataHandler"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="sWOTAnalysis_c" type="SWOTAnalysis_c" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
</xsd:schema>
